/* Container principal da tela */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 1px;
}

/* Imagem da Logo */
.logo-img {
  width: 400px;
  height: auto;
  transform: translateY(-30px);
}

/* Título "Login" (Transformei de h1 para classe) */
.title {
  color: #000000;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

/* Formulário (Transformei de form para classe) */
.form-login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #FFBE00;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

/* Input específico do Login */
.input-login {
  border: 1px solid #000000;
  border-radius: 30px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  padding-left: 10px; 
  outline: none;
}

/* Botão específico do Login */
.btn-login {
  border-radius: 30px;
  background-color: #000000;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: 0.2s;
}

.btn-login:hover {
  opacity: 0.8;
}

/* Container para alinhar o texto e o botão */
.container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Espaço entre a pergunta e o botão */
  margin-top: 15px; /* Afasta do botão Entrar */
  font-size: 14px;
  color: #000;
}

/* O Botão que parece um Link */
.btn-link-cadastro {
  background: transparent;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline; /* Sublinhado para parecer link */
  padding: 0;
  font-size: 14px;
  transition: 0.2s;
}

.btn-link-cadastro:hover {
  color: #333; /* Fica levemente cinza ao passar o mouse */
  transform: scale(1.05);
}