/* Container principal */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 1px;
}

/* Imagem da Logo */
.logo-img {
  width: 400px;        
  height: auto;
  transform: translateY(-30px);
}

/* Título (antigo h1) */
.title {
  color: #000000;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

/* Formulário (antigo form) */
.form-cadastro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #FFBE00;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

/* Inputs específicos do Cadastro */
.input-cadastro {
  border: 1px solid #000000;
  border-radius: 30px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  padding-left: 10px; 
  outline: none;
}

/* Botão específico do Cadastro */
.btn-cadastro {
  border-radius: 30px;
  background-color: #000000;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: 0.2s;
}

.btn-cadastro:hover {
  opacity: 0.8;
}